.mainRodape {
  background-color: #6278f7;
  display: flex;
  justify-content: space-around;
  margin-top: 128px;
  align-items: center;
  padding: 1rem 0 1rem;
}

.mainRodape .redesSociais {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  gap: 1.5rem;
}

.mainRodape label {
  color: #ffffff;
}
